@media (max-width: 1339px) {
  ._container {
    max-width: 890px;
  }
  /* Tokenomica start */
  .tokenomica {
    margin-bottom: 96px;
  }
  .tokenomica h2 {
    font-size: 35px;
    line-height: 41px;
  }
  .tokenomica_left {
    width: 568px;
    height: 198px;
  }
  .tokenomica_left > p {
    font-size: 17px;
    line-height: 20px;
    margin-left: 33px;
    margin-top: 21px;
    margin-right: 13px;
  }
  .tokenomica_right_text {
    width: 287px;
    height: 24px;
    margin-top: 9px;
  }
  #tokenomica_2 {
    width: 258px;
    height: 24px;
  }
  #tokenomica_3 {
    width: 178px;
    height: 24px;
  }
  #tokenomica_4 {
    width: 156px;
    height: 24px;
  }
  #tokenomica_5 {
    width: 145px;
    height: 24px;
  }
  #tokenomica_6 {
    width: 86px;
    height: 24px;
  }
  .tokenomica_right_text > p {
    font-size: 13px;
    line-height: 15px;
  }
  .tokenomica_right_percent {
    font-size: 13px;
    line-height: 15px;
    margin-left: 5px;
  }
  .tokenomica_right_percent p {
    margin-left: 0px;
  }
  /* Tokenomica finish */

  /* Partners start */
  .partners_left_block {
    width: 367px;
    height: 387.57px;
    margin-left: 67px;
  }
  .partners_right_block h2 {
    font-size: 35px;
    margin-top: 65px;
    margin-left: 62px;
  }
  .partners_right_block p {
    max-width: 359px;
    font-size: 17px;
    margin-left: 62px;
    margin-top: 20px;
  }
  .button_start {
    margin-left: 62px;
    margin-top: 42px;
    width: 134px;
    height: 28.53px;
    font-size: 17px;
    line-height: 20px;
  }
  #partners_logo_1 {
    width: 354.16px;
  }
  #partners_logo_2 {
    width: 365.42px;
    top: 39.42px;
  }
  /* Partners finish */

  /* Footer start */
  .footer_left_block,
  .footer_right_block {
    height: 119px;
  }
  .footer_left_block img {
    width: 63px;
    height: 88px;
    margin-left: 32px;
  }
  .footer_left_block p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 16px;
  }
  .footer_right_block_container_social {
    margin-right: 32px;
  }
  .footer_right_block_container_social p {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 15px;
  }
  .footer_right_block_container_social img:not(first-child) {
    margin-left: 2px;
  }
  .footer_right_block_copiright {
    margin-right: 15px;
    font-size: 11px;
    line-height: 13px;
    margin-top: 26px;
  }
  .footer_right_block_social img {
    margin-top: -39px;
    width: 27.24px;
    height: auto;
  }
  /* Footer end */
}
