@media (max-width: 767px) {
  ._container {
    max-width: 322px;
  }
  /* Tokenomica start */
  .tokenomica {
    margin-bottom: 50px;
  }
  .tokenomika_line {
    top: 35px;
    width: 8px;
    height: 435px;
  }
  .tokenomica h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .tokenomica_left {
    width: 319px;
    height: 185px;
    margin-bottom: 6px;
    padding-top: 37px;
  }
  .tokenomica_left > p {
    font-size: 12px;
    line-height: 14px;
    margin-left: 19px;
    margin-top: -12px;
    margin-right: 19px;
  }

  .tokenomica_right {
    margin-left: 17px;
  }
  .tokenomica_right_text {
    width: 270px;
    height: 22px;
    margin-top: 9px;
  }
  #tokenomica_2 {
    width: 242px;
    height: 22px;
  }
  #tokenomica_3 {
    width: 167px;
    height: 22px;
  }
  #tokenomica_4 {
    width: 147px;
    height: 22px;
  }
  #tokenomica_5 {
    width: 127px;
    height: 22px;
  }
  #tokenomica_6 {
    width: 81px;
    height: 22px;
  }
  .tokenomica_right_text > p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 11px;
  }
  .tokenomica_right_percent {
    font-size: 13px;
    line-height: 15px;
    margin-left: 7px;
  }

  /* Tokenomica finish */

  /* Partners start */
  #partners_logo_1 {
    width: 271.77px;
    left: 40.21px;
    top: 0px;
  }
  #partners_logo_2 {
    left: 39px;
    top: 31.5px;
    width: 280.41px;
  }
  .partners_right_block h2 {
    max-width: 235px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 35.7px;
  }
  .partners_right_block p {
    font-size: 12px;
    line-height: 14px;
    max-width: 319px;
    margin-left: 21px;
  }
  .button_start {
    width: 187px;
    height: 40px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 38px;
  }
  .partners {
    max-width: 360px;
    height: 586px;
  }
  /* Footer start */

  .footer_left_block {
    height: 90px;
  }
  .footer_left_block img {
    width: 44px;
    height: 62px;
    margin-left: 22px;
    margin-top: 8px;
  }
  .footer_left_block p {
    font-size: 12px;
    line-height: 14px;
    margin-left: 12px;
    margin-top: 29px;
  }
  .footer_right_block {
    height: 39px;
    margin-top: -5px;
  }
  .footer_right_block_copiright {
    margin-left: 22px;
    font-size: 8px;
    line-height: 9px;
  }
  .footer_right_block_container_social img {
    display: none;
  }
  .footer_right_block_container_social p {
    font-size: 8px;
    line-height: 9px;
    margin-right: 22px;
  }
  /* Footer end */
}
