/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""),
    url("./fonts/roboto-v29-latin_cyrillic-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin_cyrillic-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Roboto";
  font-style: normal;
}
html a {
  text-decoration: none;
}
.wrapper {
  background-color: black;
  overflow-x: hidden;
  min-height: 100%;
}

._container {
  max-width: 1636px;
  margin: 0 auto;
}
/* Partners start */
.partners {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: min-content;
  background: linear-gradient(
    360deg,
    rgba(3, 174, 161, 0.3066) 2.13%,
    rgba(62, 33, 65, 0) 97.49%
  );
  border-radius: 20px;
}
.partners_left_block {
  width: 692px;
  height: 742px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.partners_right_block h2 {
  font-weight: bold;
  font-size: 61px;
  color: #ffffff;
  margin-top: 155px;
  margin-left: 81px;
}
.partners_right_block p {
  font-size: 31px;
  color: rgba(223, 251, 255, 0.9);
  margin-left: 81px;
  margin-bottom: 0px;
  margin-top: 50px;
}
.button_start {
  margin-left: 81px;
  margin-top: 50px;
  background: rgba(153, 22, 96, 0.3);
  border: 2px solid #2bf3fe;
  box-sizing: border-box;
  border-radius: 15px;
  width: 247px;
  height: 53px;
  font-size: 31px;
  line-height: 36px;
  color: #ffc999;
}
#partners_logo_1 {
  width: 667.78px;
  height: auto;
  position: absolute;
  top: 0px;
}
#partners_logo_2 {
  width: 689.02px;
  height: auto;
  position: absolute;
  top: 75.5px;
}
/* Footer finish */

/* Footer start */
.footer {
  display: flex;
  justify-content: space-between;
  height: min-content;
  background: linear-gradient(
    180deg,
    rgba(91, 21, 69, 0.73) 0%,
    rgba(62, 33, 65, 0) 100%
  );
  border-radius: 20px;
}
.footer_left_block {
  height: 217px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer_left_block img {
  width: 116px;
  height: 161px;
  margin-left: 100px;
}
.footer_left_block p {
  font-size: 24px;
  line-height: 28px;
  color: #03aea1;
  margin-left: 26px;
}
.footer_right_block {
  height: 217px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_right_block_container_social {
  margin-right: 100px;
}
.footer_right_block_container_social p {
  font-size: 21px;
  line-height: 24px;
  color: #828282;
  text-align: end;
  margin-bottom: 12px;
}
.footer_right_block_container_social img:not(first-child) {
  margin-left: 3px;
}
.footer_right_block_copiright {
  margin-right: 82px;
  font-size: 21px;
  line-height: 25px;
  color: #828282;
  margin-top: 50px;
}
.footer_right_block_social img {
  margin-top: -39px;
  width: 45.23px;
  height: 41.43px;
}
/* Footer end */
